.contacts {
  padding-top: 240px;
  padding-bottom: 130px;
  background-color: rgba($color-ligth, .2);

  @media (max-width: $df-tablet) {
    padding-top: 190px;
    padding-bottom: 90px;
  }

  @media (max-width: $df-mobile) {
    padding-top: 110px;
    padding-bottom: 50px;
  }
}

.contacts-inner {
  @include container;
}

.contacts-title {
  @include h2;
  margin: 0;
}

.tabs {
  display: flex;
  justify-content: center;
  margin: 100px 0 50px 0;
  padding: 0;
  list-style: none;
}

.tabs-item {
  margin: 0 30px;
}

.tabs-link {
  color: $color-dark;
  font-size: 36px;
  line-height: 49px;
  text-decoration: none;

  &.active {
    text-decoration: underline;
  }
}

.contacts-content {
  display: none;

  &.active {
    display: flex;
  }
}

.contacts-map {
  flex-shrink: 0;
  width: 58.33%;
}
